.App{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.box {
    background-color: #fbfbfb;
    width: 80%;
    text-align: left;
    padding: 2rem 1rem;
    box-shadow: 1px 1px 4px 2px #eee;
    margin: 2rem 0;
}

.box button{
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 0 0.5rem;  
}

.box button:hover{
    opacity: 0.7; 
}

.box input{
    border: 1px solid #cac7c7;
    border-radius: 0.25rem;
    font-size: 1rem;
}

table {
    width: 100%;
}

table, tr, td, th {
    border: 1px solid #cac7c7;
    border-collapse: collapse;
}

table td, table th{
    padding: 0.5rem 1rem;
}

table th {
    background-color: #fafafa;
}

table td {
    background-color: #fff;
}

table tr td:first-child{
    width: 5%;
    text-align: center;
}