.App{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.box {
    background-color: #fbfbfb;
    width: 80%;
    text-align: left;
    padding: 2rem 1rem;
    box-shadow: 1px 1px 4px 2px #eee;
    margin: 2rem 0;
}

.box button{
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 0 0.5rem;  
}

.box button:hover{
    opacity: 0.7; 
}

.box input{
    border: 1px solid #cac7c7;
    border-radius: 0.25rem;
    font-size: 1rem;
}

table {
    width: 100%;
}

table, tr, td, th {
    border: 1px solid #cac7c7;
    border-collapse: collapse;
}

table td, table th{
    padding: 0.5rem 1rem;
}

table th {
    background-color: #fafafa;
}

table td {
    background-color: #fff;
}


a{
    color: blue;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

.tag {
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    margin: 0 8px 0 0;
    display: inline-block;
    padding: 0 7px;
    font-size: 14px;
    background: #fafafa;
}

.tag-green {
    color: #389e0d;
    background: #f6ffed;
    border-color: #b7eb8f;
}

.tag-geekblue {
    color: #1d39c4;
    background: #f0f5ff;
    border-color: #adc6ff;
}

.tag-volcano {
    color: #d4380d;
    background: #fff2e8;
    border-color: #ffbb96;
}

.space{
    display: flex;
}

.space-item {
    margin: 0 8px;
}